html , body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(https://40.media.tumblr.com/cad4a0374266de08cde12820b148d6ae/tumblr_ntpj6pP9261un2vt5o1_1280.jpg) #f0f0f4;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    }

    .log-in{
        position: relative;
        width: 18rem;
        top: calc(50% - 9.25rem);
        margin: auto;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        padding-top: 120px;
    }

    .title{
        color: #fff;
        line-height: 1;
        font-weight: 300;
        font-size: 2.5rem;
        padding: 0;
        margin: 5rem 0 1.5rem;
    }

    .input{
        display: block;
        margin: 0 0 20px;
        padding: 0 1rem;
        width: 100%;
        height: 3rem;
        appearance: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: #555566;
        text-align: center;
        border: 0;
        border-radius: 1.5rem;
        background: #fff;
        box-sizing: border-box;
    }

.submit{
    margin-bottom: 0.6rem;
    cursor: pointer;
    color: #fff;
    background: #00b0ff;
    transition: 200ms;
}

.submit:hover{
    background: #10c0ff;
}

.forgot{
    color: #fff;
    text-decoration: none;
}

.forgot:hover{
    color: #ddd;
    text-decoration: none;
}

.sign-up{
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    width: 9rem;
    height: 3rem;
    margin: auto;
    border-radius: 1.5rem;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 200ms;
    padding: 0;
}

.sign-up:hover {
    background: rgba(255,255,255,.3);
  }


  @media all and (height:300px) {
    .sign-up {display:none}
  }